<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="L2HTML Multi-page Editor"
            extensions="l2html"
            icon="icons/sample.gif"
            contributorClass="l2html.editor.plugin.editors.MultiPageEditorContributor"
            class="l2html.editor.plugin.editors.MultiPageEditor"
            id="l2html.editor.plugin.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="l2html.editor.plugin">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="l2html.editor.plugin"
            class="l2html.editor.plugin.wizards.SampleNewWizard"
            id="l2html.editor.plugin.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
